global:
  scrape_interval: 15s  # Coletar métricas a cada 15 segundos
  evaluation_interval: 15s
  external_labels:
    monitor: 'cadastro-pessoas'

# Configurações de scraping
scrape_configs:
  - job_name: 'cadastro-pessoas'
    static_configs:
      - targets: ['controle_pessoas_app:3000']  # Nome do serviço Docker
    metrics_path: '/metrics'
    scrape_interval: 15s

